@import "variables";

* {
  box-sizing: border-box;
  font-family: "Roboto";
  list-style: none;
}
.header {
  background-color: #000000;
  a {
    text-decoration: none;
    color:#dad4d4;
  }
  a:hover{
    color: #fff;
    opacity: .7;
  }
  .header__shoppingCartContainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
    position: relative;
    svg {
      color: #ffffff;
      cursor: pointer;
      font-size: 1.2rem;
    }
    span{
      background-color: #fff;
      border-radius: 20px;
      bottom: -9px;
      color: #000000;
      font-weight: 600;
      padding: 0px 7px;
      position: absolute;
      right: 35px;
    }
  }
  .navBar{
    display: flex;
    justify-content: space-around;
    padding: 2px;
    width: 100%;
  }
}
.loading-spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.animacion{
  animation: aparecer .4s linear;
}
.articulo {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 10px;
  .articulo__divImg {
    /* height: 100%; */
    animation: aparecer .6s linear;
    padding: 6px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .articulo__divNombre {
    h4 {
      color: $primary-bLack;
      font-size: 1.1rem;
      font-weight: 600;
      text-align: center;
    }
  }
  .articulo__divPrecio {
    display: flex;
    justify-content: center;
    padding: 5px;
    span {
      color: $text-color;
      font-weight: 500;
      text-align: center;
    }
  }
  .articulo__divCuotas {
    display: flex;
    justify-content: center;
    padding: 5px;
    span {
      color: $text-color;
    }
  }
  .articulo__divBtnDetalle {
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    button {
      padding: 9px;
      outline: none;
      border: none;
      border-radius: 5px;
      background-color: $primary-bLack;
      color: #ffffff;
    }
    button:hover {
      opacity: 0.9;
    }
  }
}

.articulo:hover {
  transition: all .5s ease;
  transform: scale(0.9,0.9);
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}

/* PAGINA PARA EL DETALLE DEL PRODUCTO */

.detail {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  padding: 10px;
  animation: aparecer 0.6s linear;
  .detail__containerTitle {
    border-bottom: 1px dashed #dfdfdf;
    padding: 15px;
    h2 {
      color: $text-color;
      font-size: 1.6rem;
      font-weight: 600;
      text-align: justify;
    }
  }
  .detail__containerImg {
    padding: 1rem;
    img {
      width: 100%;
    }
  }
  .detail__containerPrice {
    display: flex;
    justify-content: center;
    padding: 5px;
    span {
      font-family: -webkit-pictograph;
      font-size: 1.9rem;
      font-weight: 500;
      opacity: 0.9;
    }
  }
  .detail__containerPriceWithIva {
    display: flex;
    justify-content: center;
    border-bottom: 1px dashed #dfdfdf;
    span {
      color: $primary-bLack;
      font-size: 1rem;
      font-weight: 500;
    }
    small {
      line-height: 25px;
      color: $text-color;
      margin-left: 2px;
      opacity: 0.9;
    }
  }
  .detail__containerFee {
    padding: 5px;
    border-bottom: $border-description;
    span {
      color: $primary-bLack;
      font-size: 1rem;
      font-weight: 500;
    }
    small {
      color: $text-color;
      opacity: 0.9;
    }
  }
  .detail__containerStock {
    display: flex;
    .detail__containerStock--iconContainer {
      padding: 10px;
      svg {
        font-size: 1.5rem;
      }
    }
    .detail__containerStock--textStockContainer {
      display: flex;
      align-items: center;
      padding: 5px 3px;
      span {
        font-weight: 500;
      }
    }
  }
  .detail__containerAvailableStock{
    border-bottom: $border-description;
    padding: 3px;
    span{
      color:$text-color;
      font-size: 1rem;
      font-weight: 500;
    }
  }
  .detail__containerShipping {
    display: flex;
    border-bottom: $border-description;
    .detail__containerShipping--iconContainer {
      padding: 10px;
      svg {
        font-size: 1.4rem;
        color: $primary-bLack;
      }
    }
    .detail__containerShipping--textShippingContainer {
      display: flex;
      align-items: center;
      padding: 5px 3px;
      span {
        font-size: 1rem;
        color: $text-color;
        opacity: 0.9;
      }
    }
  }
  .detail__containerGuarantee {
    display: flex;
    border-bottom: $border-description;
    .detail__containerGuarantee--iconContainer {
      padding: 10px;
      svg {
        font-size: 1.4rem;
        color: $primary-bLack;
      }
    }
    .detail__containerGuarantee--textGuaranteeContainer {
      display: flex;
      align-items: center;
      padding: 5px 3px;
      span {
        font-size: 1rem;
        color: $text-color;
        opacity: 0.9;
      }
    }
  }
  .detail__containerPurchase{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    .detail__containerPurchase--countContainer{
      display: flex;
      justify-content: center; 
      padding: 5px;
      width: 100%;
      button{
        border: $border-description;
        border-radius: 2px;
        padding: 5px;
        width: 2.5rem;
      }
      span{
        border: $border-description;
        padding: 7px 0;
        text-align: center;
        width: 5rem;
      }
    }
    .detail__containerPurchase--divBtn{
      width: 80%;
      a{
        display: flex;
        justify-content: center;
        text-decoration: none;
      }
      .detail__containerPurchase--btnPurchase{
        background-color: #0084e0;
        border: 1px solid transparent;
        border-bottom: 2px solid #016ab3;
        border-radius: 5px;
        color: #fff;
        outline: none;
        padding: 8px;
        width: 100%;
      }
    }
  }
}
.properties {
  .properties__titleContainer {
    border-bottom: $border-description;
    display: flex;
    justify-content: center;
    padding: 10px;
    h4 {
      color: $text-color;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
  .properties__listContainer {
    ul {
      padding: 5px;
      list-style: none;
      li {
        color: $text-color;
        padding: 10px;
        font-weight: 500;
      }
      span {
        margin: 0 5px;
        color: $primary-bLack;
        opacity: 0.8;
      }
    }
  }
}

/* PAGINA DEL CARRITO */

.cartEmpty{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  h4{
    color: $primary-bLack;
    font-size: 1.5rem;
    font-weight: 600;
  }
  a{
    color: $text-color;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
  }
}
.cartItem{
  display: flex;
  align-items: center;
  border: $border-description;
  border-radius: 2px;
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 25%;
  }
  strong{
    font-size: .9rem;
  }
  img{
    width: 100%;
  }
  h6{
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
  }
  svg{
    color:#df2c2c;
    font-size: 1.1rem;
    cursor: pointer;
  }
}
.cartItemResume{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: $border-description;
  height: 50vh;
  .cartItemResume__titleContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: $border-description;
    h5{
      color: $primary-bLack;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
  .cartItemResume__amountContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    strong{
      font-size: 1.1rem;
    }
    span{
      color: $text-color;
      font-size: 1rem;
      font-weight: 500;
    }
  }
  .cartItemResume__buttonsContainer{
    display: flex;
    .cartItemResume__buttonsContainer--clearCart{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 50%;
      svg{
        color: #df2c2c;
        cursor: pointer;
        font-size: 1.5rem;
      }
    }
    .cartItemResume__buttonsContainer--confirmPurchase{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 50%;
      button{
        background-color: #0084e0;
        border: 1px solid transparent;
        border-bottom: 2px solid #016ab3;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        outline: none;
        padding: 8px;
        width: 100%;
        word-break: break-all ;
      }
    }
  }
}
/* DETALLE DE LA COMPRA */

.purchaseDetail{
  padding: 5px;
  .purchaseDetail__orderNone{
    display: flex;
    padding: 20px;
    justify-content: center;
    h6{
      color: $primary-bLack;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
  .purchaseDetail__clientContainer{
    border: $border-description;
  }
  .purchaseDetail__messageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    .purchaseDetail__messageContainer--title{
      display: flex;
      justify-content: center;
      padding: 4px 2px;
      h4{
        color:$primary-bLack;
        font-weight: 600;
        font-size: 1.5rem;
      }
    }
    .purchaseDetail__messageContainer--backToHome{
      a{
        text-decoration: none;
        color: $primary-bLack;
        font-size: 1.3rem;
        font-weight: 600;
      }
      a:hover{
        opacity: .9;
        text-decoration:underline;
      }
    }
  }
  .purchaseDetail__clientTitle{
    padding: 10px;
    border-bottom: $border-description;
    span{
      color: $primary-bLack;
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
  .purchaseDetail__clientData{
    li{
      color: $text-color;
      font-weight: 600;
      font-size: 1rem;
      span{
        opacity: .9;
      }
    }
  }
  .purchaseDetail__itemsContainer{
    border: $border-description;
    .purchaseDetail__itemsTitle{
      @extend .purchaseDetail__clientTitle;
    }
    .purchaseDetail__article{
      display: flex;
      flex-direction: row;
      border: $border-description;
      div{
        width: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
          color: $primary-bLack;
          font-size: 1rem;
          font-weight: 600;
          text-align: center;
        }
        span{
          color:$text-color;
          font-size: .9rem;
          font-weight: 500;
          opacity: .8;
          padding: 2px 7px;
          text-align: center;
        }
      }
    }
    .purchaseDetail__dateContainer{
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      p{
        color: $primary-bLack;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
      }
      span{
        color:$text-color;
        font-size: .9rem;
        font-weight: 500;
        opacity: .8;
        padding: 2px 7px;
        text-align: center;
      }
    }
    .purchaseDetail__totalContainer{
      @extend .purchaseDetail__dateContainer;
    }
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show{
  display: unset;
}
.hide{
  display: none;
}